doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title ShopPhone
    link(rel='shortcut icon', href='/public/img/icon.jpg')
    link(rel='stylesheet', href='/public/home/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/home/fonts/fontawesome-all.min.css')
    link(rel='stylesheet', href='/public/home/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='/public/home/fonts/ionicons.min.css')
    link(rel='stylesheet', href='/public/home/css/Corporate-Footer-Clean.css')
    link(rel='stylesheet', href='/public/home/css/Footer-Dark.css')
    link(rel='stylesheet', href='/public/home/css/News-Cards.css')
    link(rel="stylesheet", href='/public/css/styles.css')
  body#page-top
    nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/home') ShopPhone
        button.navbar-toggler.float-right(data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.nav.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#') Category
              .dropdown-menu(role='menu')
                each producer in producers
                  a.dropdown-item(
                    role='presentation', 
                    href=`/?producer=${producer.producer_id}`)= producer.producer_name
            li.nav-item(role='presentation')
              a.nav-link.js-scroll-trigger(href='/#features') Features
            li.nav-item(role='presentation')
              a.nav-link.js-scroll-trigger(href='#contact') Contact
            li.nav-item.dropdown
              a.dropdown-toggle.nav-link(
                data-toggle='dropdown', 
                aria-expanded='false', 
                href='#')#loginDropdown Login
              .dropdown-menu(role='menu')
                a.dropdown-item(role='presentation', href='/user/login')#login Login
                a.dropdown-item(role='presentation', href='/user/signup')#signup Sign Up
                a.dropdown-item(
                  role='presentation', 
                  href='/admin',
                  style='display:none')#adminPage Admin Manager
            //- Cart & Bill
            li.nav-item.dropdown
              a.dropdown-toggle.nav-link(
                data-toggle='dropdown', 
                aria-expanded='false', 
                href='#')#searchDropdown
                i.fas.fa-shopping-cart(style="font-size: 15px;")
              .dropdown-menu(role='menu').col-4
                a#goToCart(href="/cart").dropdown-item Cart
                a#goToBill(href="").dropdown-item Bill
            //- search 
            li.nav-item
              form(action="/search")
                .search__wrapper
                  input(type="hidden", value="1", name="page")
                  input.search__field(type='search', name='search')
                  button.fas.fa-search.search__icon(type='submit')
            a(href="/search?search=&page=1&price=&producer=&sortByName=&sortByPrice=").mt-1.ml-2 More

    block content

    //- Footer
    footer#contact.footer-dark
      .container
        .row
          .col-sm-6.col-md-3.item
            h3 Services
            ul
              li
                a(href='#') Web design
              li
                a(href='#') Development
              li
                a(href='#') Hosting
          .col-sm-6.col-md-3.item
            h3 About
            ul
              li
                a(href='#') Company
              li
                a(href='#') Team
              li
                a(href='#') Careers
          .col-md-6.item.text
            h3 ShopPhone
            p
              | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          .col.item.social
            a(href='https://www.facebook.com/ninhnguyen375' target="blank")
              i.icon.ion-social-facebook
            a(href='#')
              i.icon.ion-social-twitter
            a(href='#')
              i.icon.ion-social-snapchat
            a(href='#')
              i.icon.ion-social-instagram
            a(href='https://github.com/ninhnguyen375/doanweb2' target="blank")
              i.icon.ion-social-github
        p.copyright ShopPhone © 2017

    script(src='/public/home/js/jquery.min.js')
    script(src='/public/home/bootstrap/js/bootstrap.min.js')
    script(src='/public/home/js/jquery-ui.min.js')
    script(src='/public/home/js/new-age.js')
    script(src="/public/js/scripts.js")
    script(src="/public/js/axios.min.js")
