extends ../layouts/admin
block content
  .breadcrumb
    span
      a(href='/') Client Page
    span.ml-2.mr-2  / 
    span Admin
    span.ml-2.mr-2  / 
    span Bill
  .container.col-11.mt-5.pt-4.pb-4(style='background:white')
    if idIsDeleted
      .alert.alert-danger.text-center.m-auto
        = 'Bill '
        = ' ( id: ' + idIsDeleted + ' ) Has been Deleted'
    if idIsEdited
      - const billIsEdited = bills.find(p=>p.id == idIsEdited)
        .alert.alert-success.text-center.m-auto
          = 'Bill : '
          = ' ( id: ' + billIsEdited.id + ' ) has been Edited'
    if added
      .alert.alert-success.text-center.m-auto Add new Producer Successfull!
    if error
      .alert.alert-danger.text-center.m-auto= error

    table#table-sp.text-center
      thead
        tr
          th.p-3
          th Auth Name
          th Total Price
          th Status
          th Action
      tbody
      - const startLoad = (parseInt(page) - 1 )*10
      - const endLoad = parseInt(page)*10
      - for(let i = startLoad; i < bills.length && i < endLoad; i++)
        - const user = users.find((u) => (u.id == bills[i].authId))
        tr
          td= i + 1
          td= user.user_name
          td= bills[i].totalPrice
          td= bills[i].status
          td
            //- Delete Bill
            form(action="/bill/deleteBill", method="POST")
              input(type="hidden", name='billId', value=bills[i].id)
              input(type="hidden", name='fromAdminPage', value='1')
              input(type="hidden", name='userId', value=user.id)
              input(type="hidden", name='proId', value=bills[i].details.proId)
              input(type="hidden", name='proQuantity', value=bills[i].details.proQuantity)
              button.xoa_sp.mt-2 Cancel
            //- Edit Bill
            //- Button trigger modal
            button.xoa_sp(
              type='button', 
              data-toggle='modal',
              data-target='#form' + bills[i].id) Edit
            //- Modal
            form(
              action="/admin/bill/edit", 
              method="post",
              tabindex='-1', 
              role='dialog',
              aria-hidden='true',
              id='form' + bills[i].id).modal.fade
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      h5.modal-title Edit Bill
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                      input(type="hidden",value=bills[i].id, name='id').form-control
                      //- bill status
                      label(for="edit-bill").mt-2 Status
                      select.custom-select#edit-status(name="status")
                        if bills[i].status == 'unpaid'
                          option(value="unpaid", selected) Unpaid
                          option(value="paid") Paid
                        else
                          option(value="unpaid") Unpaid
                          option(value="paid", selected) Paid
                    .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(
                          type='submit', 
                          form='form'+bills[i].id) Save changes
            br
            //- Show Details
            button.xoa_sp(
              type='button', 
              data-toggle='modal',
              data-target='#details' + bills[i].id) Details
            .modal.fade(
              tabindex='-1', 
              role='dialog',
              aria-hidden='true',
              id='details' + bills[i].id)
              .modal-dialog(role='document', style='max-width:1000px').col-10
                .modal-content
                  .modal-header
                    h5.modal-title= 'Bill Details - id : '+ bills[i].id
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    table.table.col-12.text-center
                      thead
                        tr
                          th Product Id
                          th Product Name
                          th Quantity
                          th Product Price
                          th Counted
                      tbody
                        - for(let j = 0; j < bills[i].details.proId.length; j++)
                          - const proName = products.find(p =>(bills[i].details.proId[j] == p.product_id)).product_name
                          tr
                            td.text-center= bills[i].details.proId[j]
                            td= proName
                            td= bills[i].details.proQuantity[j]
                            td='$' + bills[i].details.proPrice[j]
                            td='$' + (bills[i].details.proPrice[j] * bills[i].details.proQuantity[j])
                        tr
                          td
                          td
                          td
                          td
                          td= 'Total : $' + bills[i].totalPrice
                            
            


    .container.text-center
      - const pages = Math.ceil(bills.length/10)
      - for(let i = 1; i <= pages; i++)
        if page == i
          a.btn.btn-outline-primary.m-2.active(href='/admin/category?page='+i)= i
        else
          a.btn.btn-outline-primary.m-2(href='/admin/category?page='+i)= i