extends ../layouts/common
block content
  - const auth = user
    header(style="background:url('/public/home/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:10%;")
    .container(style="padding-top:60px")
      h1 Your Profile
      h4= "user id : " + auth.id
      h4= "user name : " + auth.user_name
      h4= "user email : " + auth.user_email
      h4= "user phone : " + auth.user_phone
      h4= "user group : " + auth.user_group
    script.
      const objAuth = {
        user_id:'!{auth.id}',
        user_name:'!{auth.user_name}',
        user_email:'!{auth.user_email}',
        user_phone:'!{auth.user_phone}',
        user_permission:'!{auth.user_permission}',
        user_group:'!{auth.user_group}',
      }
      localStorage.setItem('auth',JSON.stringify(objAuth));
