extends ../layouts/common
block content
  header(style="background:url('/public/home/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:10%;")
  .container.pb-5
    .section-heading.text-center.mb-4.mt-3
      h2 Product Details
      p.text-muted Product Details
      hr
    - const found = producers.find((elm)=>{return elm.producer_id == product.producer})
      .row
        .col-lg-5.offset-lg-1
          .img-thumbnail(style=`
            width: 310px;
            height: 370px;
            background-image: url(${product.product_img});
            background-position: center;
            background-size: cover;
          `)
        .col-lg-5.offset-lg-0
          h1= product.product_name
          h3(style='color:gray')= found.producer_name
          h3.text-danger= '$'+product.product_price
          p(style='margin-top: 6px;')
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            | 'Content here,
            br
            br
          section(style='padding:0;margin-top:-15px')
            form(action="/product/postAddToCart", method="POST")#formPOSTAddToCart
              input(type="hidden", name="proId",value=product.product_id)
              input(type="hidden", name="userId",value="")
              input(type="hidden", name="proPrice",value=product.product_price)
              //- Plus Button
              button.btn.btn-light.border.rounded-0.ml-1(type='button',
                onclick='minusQuantity()')
                i.fa.fa-plus(style='color: rgb(102,102,102);')
              //- Quantity
              input.border.rounded-0(
                type='text', 
                readonly='', 
                style
                  = 'width: 59px;padding: 2px;padding-top: 4px;padding-bottom: 8px;text-indent:22px',
                value='1',
                name='quantity')#Quantity
              //- Plus Button
              button.btn.btn-light.border.rounded-0(type='button',
                onclick='plusQuantity()')
                i.fa.fa-plus(style='color: rgb(102,102,102);')
              br
              button.btn.btn-success(style='margin-top: 19px;') Add To Cart
    script.
      const quantity = document.getElementById('Quantity');
      function plusQuantity(){
        if(quantity.value >= 5){
          return;
        }
        quantity.value = parseInt(quantity.value,10) + 1;
      }
      function minusQuantity(){
        if(quantity.value <= 1){
          return;
        }
        quantity.value = parseInt(quantity.value,10) - 1;
      }
