extends ../layouts/common
block content
  header.masthead(style="background:url('/public/home/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:100%;")
    .container.h-100
      .row.h-100
        .col-lg-7.my-auto
          .mx-auto.header-content
            h1.mb-5
              | The phone Will Change The World. 
              br
              | Simply dummy text of the printing and typesetting industry.
              br
              br
            a.btn.btn-outline-warning.btn-xl.js-scroll-trigger(role='button', href='#features')  Buy Now!
        .col-lg-5.my-auto
          .device-container
            .device-mockup.iphone6_plus.portrait.white
              .device(style="background-image:url('/public/home/img/iphone_6_plus_white_port.png');")
                .screen
                  img.img-fluid(src='/public/home/img/demo-screen-1.jpg')
                .button
          .iphone-mockup
  section#features.features
    .container
      .section-heading.text-center
        h2= `All Phones`
        p.text-muted All the best for you.
        hr
      #containerFeature.row.d-flex.flex-wrap.justify-content-around
        - let pages = Math.ceil(products.length / 9)
        - let start = (((querys.page) - 1)*9)
        - let end = ((querys.page)*9)
        - for(let i = start; i < end && i < products.length; i++)
          - const producerCurrent = producers.find(p => (p.producer_id == products[i].producer))
            figure.snip1527.mt-3
              .image
                img(src= products[i].product_img, alt='pr-sample25')
              figcaption
                .date
                  i.fas.fa-cart-plus
                h3= products[i].product_name
                h4= producerCurrent.producer_name
                p It is a long established fact that a reader will be distracted.
              a(href='/product/'+products[i].id)
                span.border.btn.btn-light.text-danger.ml-2.mt-2= '$' + products[i].product_price
                span.border.rounded-0.showQuantity.btn.btn-light.text-capitalize='in stock: ' + products[i].quantity
    .text-center.mt-3
      - for(let i = 1; i <= pages; i++)
        a.btn.mr-2.page-btn(
          style="background-color: #c1c1c1",
          onclick=`clickPage(${i},"",this)`,
          href="#features",
          )= i
  script(src = "/public/js/axios.min.js")
  script.
    const containerFeature = document.getElementById('containerFeature');
    function render(container, items){
      container.innerHTML = items;
    }
    async function clickPage (num, producer, event) {
      addLoadingAnimate();
      const promiseData = await axios.get('/getAll/?producer=&page='+num);
      setActivePage(event);
      render(containerFeature,promiseData.data);
    }
    setActivePage(document.getElementsByClassName('page-btn')[0]);
    function setActivePage(page){
      const btnPage = document.getElementsByClassName('page-btn');
      for(let i = 0; i < btnPage.length; i++){
        btnPage[i].className = 'btn mr-2 page-btn';
        btnPage[i].style.backgroundColor = '#c1c1c1';
      }
      page.className = 'btn mr-2 active page-btn';
      page.style.backgroundColor = '#fdcc52';
    }
    function addLoadingAnimate(){
      $('#containerFeature').html(`
        <div class="lds-css ng-scope" style="margin:auto;width: 200px; height: 200px;">
          <div style="width:100%;height:100%" class="lds-ripple">
            <div></div>
            <div></div>
          </div>
      </div>`);
    }