extends ../layouts/common
block content
  header.masthead(style="background:url('/public/home/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:100%;")
    .container.h-100
      .row.h-100
        .col-lg-7.my-auto
          .mx-auto.header-content
            h1.mb-5
              | The phone Will Change The World. 
              br
              | Simply dummy text of the printing and typesetting industry.
              br
              br
            a.btn.btn-outline-warning.btn-xl.js-scroll-trigger(role='button', href='#features')  By Now!
        .col-lg-5.my-auto
          .device-container
            .device-mockup.iphone6_plus.portrait.white
              .device(style="background-image:url('/public/home/img/iphone_6_plus_white_port.png');")
                .screen
                  img.img-fluid(src='/public/home/img/demo-screen-1.jpg')
                .button
          .iphone-mockup
  section#features.features
    .container
      .section-heading.text-center
          h2= `All Phones`
          p.text-muted All the best for you.
          hr
      #containerFeature.row.d-flex.flex-wrap.justify-content-around
        - let pages = Math.ceil(products.length / 9)
        - let start = (((querys.page) - 1)*9)
        - let end = ((querys.page)*9)
        - for(let i = start; i < end && i < products.length; i++)
          - const producerCurrent = producers.find(p => (p.producer_id == products[i].producer))
            figure.snip1527.mt-3
              .image
                img(src= products[i].product_img, alt='pr-sample25')
              figcaption
                .date
                  i.fas.fa-cart-plus
                h3= products[i].product_name
                h4= producerCurrent.producer_name
                p It is a long established fact that a reader will be distracted.
              a(href='/product/'+products[i].id)
                span.btn.btn-light.text-danger.ml-2.mt-2= '$' + products[i].product_price
                span.showQuantity.btn.btn-light.text-capitalize='in stock: ' + products[i].quantity
    div.text-center.mt-3
      - for(let i = 1; i <= pages; i++)
        if querys.page == i
          a.btn.mr-2.active(
            href="?producer=" + querys.producer + "&page=" + i)= i
        else
          a.btn.mr-2( style="background-color: #c1c1c1"
            href="?producer=" + querys.producer + "&page=" + i)= i