extends ../layouts/common
block content
  .container(style="padding-top:50px; padding-bottom: 50px;overflow:auto")
    if querys.page
      - let pages = ((products.length / 8) + 1)
      - let start = (((querys.page) - 1)*8)
      - let end = ((querys.page)*8)
      - for(let i = start; i < end && i < products.length; i++)
        - let found = producers.find((elm)=>{return elm.producer_id == products[0].producer})
        .card.float-left.m-3.mt-5.position-relative.shadow-lg(
          style='width: 15.3rem;height: 340px'
        ).product__cart
          img.card-img-top(src= "/public/img/imgtemp.jpeg", alt='Card image cap')
          .card-body
              a(href=`/product/${products[i].id}`)
                h5.card-title= products[i].product_name
              p.card-text.text-secondary= found.producer_name
              .text-danger.position-absolute(style="bottom:10px;left:15px")="$" + products[i].product_price
              a.btn.btn-outline-primary.position-absolute(
                href=`/product/${products[i].id}`,
              style="bottom:10px;right:10px"
              )
                i.fas.fa-cart-plus
                span(style="font-size: 13px")= ` (${products[i].quantity})`
      div.m-auto(style="text-align:center; clear:both")
        - for(let i = 1; i <= pages; i++)
          if querys.page == i
            a.btn.btn-outline-primary.mr-2.active(
              href="?producer=" + querys.producer + "&&page=" + i)= i
          else
            a.btn.btn-outline-primary.mr-2(
              href="?producer=" + querys.producer + "&&page=" + i)= i
    else
      each product in products
        - let found = producers.find((elm)=>{return elm.producer_id == product.producer})
        .card.float-left.m-3.mt-5.position-relative.shadow-lg(
          style='width: 15.3rem;height: 340px'
        ).product__cart
          img.card-img-top(
              src= "/public/img/imgtemp.jpeg", 
              alt='Card image cap',
              width=100 
            )
          .card-body
              a(href=`/product/${product.id}`)
                h5.card-title= product.product_name
              p.card-text.text-secondary= found.producer_name
              .text-danger.position-absolute(style="bottom:10px;left:15px")="$" + product.product_price
              a.btn.btn-outline-primary.position-absolute(
                href=`/product/${product.id}`,
                style="bottom:10px;right:10px"
              )
                i.fas.fa-cart-plus
                div= `(${product.quantity})`
