extends ../layouts/common
block content
  header(style="background:url('/public/home/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:10%;")
  .container.pt-5.mt-3
    .section-heading.text-center.mb-5
      h2 Your Bills
      p.text-muted= user.user_name
      hr
  - if(bills[0])
    each bill in bills
      .container.col-8
        p
          b Status :  
          span= bill.status
        table.table.text-center.m-auto
          thead
            tr
              th Product Id
              th Product Name
              th Quantity
              th Product Price
              th Counted
          tbody
            - for(let i = 0; i < bill.details.proId.length; i++)
              - const proName = products.find(p =>(bill.details.proId[i] == p.product_id)).product_name
              tr
                td= bill.details.proId[i]
                td= proName
                td= bill.details.proQuantity[i]
                td='$' + bill.details.proPrice[i]
                td='$' + (bill.details.proPrice[i] * bill.details.proQuantity[i])
            tr
              td
              td
              td
              td
              td
                b= 'Total : ' 
                span.text-danger= '$'+bill.totalPrice
        form(action="/bill/deleteBill", method="POST").text-right.mr-4
          input(type="hidden", name='billId', value=bill.id)
          input(type="hidden", name='userId', value=user.id)
          input(type="hidden", name='proId', value=bill.details.proId)
          input(type="hidden", name='proQuantity', value=bill.details.proQuantity)
          button.btn.btn-danger Cancel
      hr.mb-5.mt-5
  - else
    h3.text-center Your Bills is Empty
    h4.text-center
      a(href="/").btn.btn-primary Go to shopping