extends ../layouts/common
block content
  #searchMore.container.col-5(style="padding-top:80px")
    form(action="/search")
      //- search value
      label(for="searchValue") Your search
      input.form-control#searchValue(type="text", placeholder="Search value", name="search")
      //- input page
      input(type="hidden", value="1", name="page")
      //- search price
      label(for="searchPrice").mt-2 Choose price
      select.custom-select#searchPrice(name="price")
        option(value="") Choose Price
        option(value="100to500") 100$ - 500$
        option(value="500to1000") 500$ - 1000$
      //- search by producer
      label(for="searchProducer").mt-2 Choose producer
      select.custom-select#searchProducer(name="producer")
        option(value="") Choose Producer
        each producer in producers
          option(value=producer.producer_id)= producer.producer_name
      //- sort name
      label(for="sortByName").mt-2 Sort by Name
      select.custom-select#sortByName(name="sortByName")
        option(value="") Sort By Name
        option(value="AtoZ") A - Z
        option(value="ZtoA") Z - A
      //- sort price
      label(for="sortByPrice").mt-2 Sort by Price
      select.custom-select#sortByPrice(name="sortByPrice")
        option(value="") Sort By Price
        option(value="Asc") Asc
        option(value="Desc") Desc
      //- button seach
      button.btn.btn-success.mt-3 Search
  .container(style="padding-top:50px; padding-bottom: 50px;overflow:auto")
    h1.font-weight-bold Your Search
    if querys.page
      - let pages = Math.ceil(products.length / 8)
      - let start = (((querys.page) - 1)*8)
      - let end = ((querys.page)*8)
      - for(let i = start; i < end && i < products.length; i++)
        - let found = producers.find((elm)=>{return elm.producer_id == products[0].producer})
        .card.float-left.m-3.mt-5.position-relative.shadow-lg(
          style='width: 15.3rem;height: 340px'
        ).product__cart
          img.card-img-top(src= "/public/img/imgtemp.jpeg", alt='Card image cap')
          .card-body
            a(href=`/product/${products[i].id}`)
              h5.card-title= products[i].product_name
            p.card-text.text-secondary= found.producer_name
            .text-danger.position-absolute(style="bottom:10px;left:15px")="$" + products[i].product_price
            a.btn.btn-outline-primary.position-absolute(
              href=`/product/${products[i].id}`,
            style="bottom:10px;right:10px"
            )
              i.fas.fa-cart-plus
              span(style="font-size: 13px")= ` (${products[i].quantity})`
      div.m-auto(style="text-align:center; clear:both")
        - for(let i = 1; i <= pages; i++)
          if querys.page == i
            a.btn.btn-outline-primary.mr-2.active(
              href="?search="+querys.search+"&page="+i+"&price="+querys.price+"&producer="+querys.producer+"&sortByName="+querys.sortByName+"&sortByPrice="+querys.sortByPrice
            )= i
          else
            a.btn.btn-outline-primary.mr-2(
              href="?search="+querys.search+"&page="+i+"&price="+querys.price+"&producer="+querys.producer+"&sortByName="+querys.sortByName+"&sortByPrice="+querys.sortByPrice
            )= i