extends ../layouts/library
block content
  .container(style="padding-top:50px")
    #alertDanger
    .d-flex.m-auto.col-5
          h1.col-8.mb-3 SIGN UP
          .col-2
          a(href="/").mt-2
                button(class="btn btn-light") BACK
    form(
        action="/user/signup",
        method="POST",
        class="col-3 mt-2",
        onsubmit="return checkpass()",
      ).needs-validation.col-5.m-auto
      //- Name
      label(for="username") Name
      input#username.form-control(
            type='text', 
            placeholder='Name', 
            required='',
            name="user_name")
      .invalid-feedback Please provide a valid Name.
      //- Phone
      label(for="userphone") Phone
      input#userphone.form-control(
            type='text', 
            placeholder='Phone',
            pattern="[0-9]{10,}", 
            required='',
            name="user_phone")
      .invalid-feedback Please provide a valid Phone.
      //- Email
      label(for="useremail") Email
      input#useremail.form-control(
            name="user_email",
            type='email', 
            placeholder='Email', 
            required='')
      .invalid-feedback Please provide a valid Email.
      //- Password
      label(for="userpassword") Password (6 character)
      input#userpassword.form-control(
            name="user_password",
            type='password', 
            placeholder='Password', 
            required='',
            pattern='.{6,}')
      .invalid-feedback Please provide a valid Password.
      //- Password again
      label(for="userpassword2") Confirm password
      input#userpassword2.form-control(
            type='password', 
            placeholder='Confirm Password', 
            required='',
            pattern='.{6,}')
      .invalid-feedback Please provide a valid Confirm Password.
      //- user permission
      input(value="client", type="hidden", name="user_permission")
      //- Create
      button.btn.btn-success.mt-3 Sign up
      a(href='/user/login').btn.btn-light.mt-3.float-right Login